body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-attachment: fixed;
    background-repeat: inherit;
    background-size: 100%;
}

main{
    margin: 50px 20% 50px 20%;
    border: 2px;
    border-style: solid;
    border-color: rgb(52, 59, 59);
    padding: 20px;
}

/* h1,h2,h3,h4 {
    text-align: center;
} */

table{
    background-color: rgb(162, 168, 167);
}

table,th,tr,td{
    border: 2px;
    border-style: ridge;
    text-align: center;
}

form {
    padding-bottom: 15px;
    background-color: rgb(162, 168, 167);
}

#form-view{
    display: none;
}

form label{
    padding-top: 15px;
    padding-bottom: 5px;
    display: block;
}

